.container 
{

    h2 {
        text-align: center;
    }
    form {
        display: flex; 
        flex-direction: column;
        div {
            display: flex;
            justify-content: center;
            margin-bottom: 10px ;
            label {
                flex-direction: column;
                display: flex; 
                text-align: center;
                padding: 10px;
                input {
                    text-align: center;
                    border-left: none;
                    padding: 10px;
                    border-right: none;
                    border-top: none;
                    border-bottom: solid 1px lightblue;
                    outline: none; 

                }
            }
        }
    }
    #hello {
        display: flex;
        width: 375px;
        justify-content: center;
    }
}

