.container h2 {
  text-align: center;
}

.container form {
  display: flex;
  flex-direction: column;
}

.container form div {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.container form div label {
  flex-direction: column;
  display: flex;
  text-align: center;
  padding: 10px;
}

.container form div label input {
  text-align: center;
  border-left: none;
  padding: 10px;
  border-right: none;
  border-top: none;
  border-bottom: solid 1px lightblue;
  outline: none;
}

.container #hello {
  display: flex;
  width: 375px;
  justify-content: center;
}
